@charset "UTF-8";

/*--スマートフォン--*/
@media screen and (max-width: 460px){
  #pc {
  display: none;
}

body{
  font-family: 'Kiwi Maru', serif;
  font-family: 'Noto Sans JP', sans-serif;
}

.title{
  text-align: center;
  font-size: 1.5em;
}
  
.naiyou{
  text-align: center;
  marign:0 auto;
  }
  
.unlt {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}
  
  
.unla {
  position: relative;
}

.unla:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}
  
.unlb {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.unlb:before, h1:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
.unlb:before {
  left: 7px;
}
.unlb:after {
  right: 7px;
}
  
/* Instagram */
.flowbtn9 .fa-instagram{
color:#c6529a;
}
  
  
  /* ボタン全体 */
.flowbtn11{
font-family:'Verdana',sans-serif;	
border-radius:4px;
position:relative;
display:inline-block;
width:30%;
  
font-size:20px;
color:#fff!important;
text-decoration:none;
margin-bottom:5px;
}
  
  /* Instagramアイコン位置 */
.insta_btn11 .fa-instagram{
position:relative;
z-index:1;	
}
/* Instagram紫グラデ背景色 */
.insta_btn11{
background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
overflow:hidden;
}
/* Instagramオレンジグラデ背景色 */
.insta_btn11:before{
content: '';
position:absolute;
top:17px;
left:-75px;
width:100%;
height:100%;
background:-webkit-radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 45%, rgba(255, 88, 96, 0) 80%);
background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 80%);
}
  
  /* ボタン内テキスト調整 */
.flowbtn11 span{
font-size:14px;	
position:relative;
left:8px;
bottom:2px;
transition:.6s;	
display:inline-block;	
}
/* ulタグの内側余白を０にする */
ul.snsbtniti2{
padding:0!important;
}
/* アイコンボタンの位置調整 */
.snsbtniti2{
display:block
flex-flow:row wrap;
}
/* アイコンボタン同士の余白調整 */
.snsbtniti2 li{
flex:0 0 48%;
text-align:center!important;
}
  
  
.till {
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

.till:before {
  content: '●';
  color: white;
  margin-right: 8px;
}
  
.mokuji{
  font-size: 80%;
}

.subtitle{
  text-decoration: underline;
  font-size: 150%;
  text-align: center;
}

iframe {
  width: 100%;
  aspect-ratio: 4/3; /*アスペクト比（縦横比）を指定*/
}


.footer-copyright {
  padding: 1rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  background: #ed7d31;
}

.footer-copyright a {
  color: #fff;
}

.activity {
  font-size: 120%;
}

.year{
  font-size: 1.5em;
}

.kazu{
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}


@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}
}

/*--PC--*/
@media screen and (min-width: 461px) {
  .mobile {
    display: none;
  }

  body{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  

}

