@charset "UTF-8";

/*--スマートフォン--*/
@media screen and (max-width: 460px){
  #pc {
  display: none;
}

body{
  font-family: 'Kiwi Maru', serif;
  font-family: 'Noto Sans JP', sans-serif;
}

.title{
  text-align: center;
  font-size: 1.5em;
}
  
  
  
.insta_btn {
  display: inline-block;
  text-align: center;/*中央揃え*/
  color: #2e6ca5;/*文字色*/
  font-size: 20px;/*文字サイズ*/
  text-decoration: none;/*下線消す*/
}

.insta_btn:hover {/*ホバー時*/
  color:#668ad8;/*文字色*/
  transition: .5s;/*ゆっくり変化*/
}

.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 50px;/*幅*/
  height: 50px;/*高さ*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/

}

.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 23px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 60px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 35px;/*アイコンサイズ*/
  line-height: 50px;/*高さと合わせる*/
}
  
  .insta_btn .insta{
  box-shadow: 0px 1px 2px rgba(25, 25, 25, 0.50);
  transition: .4s;
}
.insta_btn .insta:hover{
  box-shadow: 0px 2px 3px rgba(25, 25, 25, 0.50);
}

  
display: inline-block;
cursor: pointer;
}
.sample-demo .ig-btn-3:hover {
opacity: 0.8;
}
.sample-demo .ig-btn-3 a {
color: #fff;
font-size: 14px;
}


.mokuji{
  font-size: 80%;
}

.subtitle{
  text-decoration: underline;
  font-size: 150%;
  text-align: center;
}

iframe {
  width: 100%;
  aspect-ratio: 4/3; /*アスペクト比（縦横比）を指定*/
}


.footer-copyright {
  padding: 1rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  background: #ed7d31;
}

.footer-copyright a {
  color: #fff;
}

.activity {
  font-size: 120%;
}

.year{
  font-size: 1.5em;
}

.kazu{
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}


@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}
}

/*--PC--*/
@media screen and (min-width: 461px) {
  .mobile {
    display: none;
  }

  body{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  

}

