body{
    background-color: #1070AB;
}
.honbun{
    font-size: 40px;
    color: aliceblue;
    margin-left: 130px;
    margin-top: 100px;
    font-family: 'Noto Sans', sans-serif;
}

.pers{
    font-size: 40px;
    color: aliceblue;
    margin-left: 130px;
    font-family: 'Noto Sans', sans-serif;
}

.message {
    display: none;

  }
  
  .message.appear {
    display: block;
    animation: 0.1s fadeIn;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  /* 横並び */

.flex {
    display: flex; /*横並び*/
    width: 85%; /*画像サイズ指定*/
  }
  .flex .image {

    margin: 0;

  }
  .flex .text {
    margin: 0 0 0 40px;
    padding: 0;
  }

  .codeww{
    font-size: 34px;
    color: white;
  }
  